#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 675px;

	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#about .primary {float: left; width: 200px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 20px 0 5px 10px; width: 69px; border: 0;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 350px;}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
body {
	clear:both;
	text-align:center;
	background-color:#000;
}
#contentinfo {padding-bottom: 2em; text-align: right;}
.body {clear: both; margin: 0 auto; width: 800px;}